# Core PyTorch (The install command below handles the CUDA specific version)
# Use this to access CUDA pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu124
torch
torchvision
torchaudio

# HuggingFace (For the pre-trained CLIP text encoder)
transformers
tokenizers

# Data Management
kagglehub
pillow
numpy
pandas

# Visualization & Progress
matplotlib
tqdm

# Evaluation (Optional, but helpful for calculating metrics)
scikit-learn